<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="EstudianteContext" connectionString="Data Source=LAPTOP-FSI8CE1F; Initial Catalog= CodeFirstEstudianteDB; Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <contexts>
    <context type="MVC_CRUD.DAL.EstudianteContext,MVC-CRUD">
      <databaseInitializer type="MVC_CRUD_DiplomadoUASDCodeFirst.Models.DAL.CargarDatosDB,MVC_CRUD_DiplomadoUASDCodeFirst.Models.Web"/>
    </context>
  </contexts>
</configuration>